<!DOCTYPE html>
<html>
    <head>
        <title>Health Net</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>

    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Health Net</div>
                <a href="/" class="item">HOME</a>
                <a href="/blogs/new" class="item">NEW REPORT</a>
                
                
            </div>

        </div>
        