<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3">Health Net</h1>
    <p class="secret-text">Welcome!</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    
    <form action="/blogs" method="GET">
      <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit Report</a> -->
      <button class="btn btn-dark btn-lg" type="submit" class="btn btn-dark">Submit Report</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
